@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.TheReview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;
  margin-bottom: 10px;
  font-family: "Lato", "sans-serif";
  text-align: center;
}

.reviewTitle {
  font-weight: "bold";
  font-size: 1em;
  text-decoration: underline;
}

.pageTitle {
  font-weight: "bold";
  font-size: 2em;
  margin-top: 1em;
}

.profilepicBR {
  margin-top: 1%;
  max-width: 150px;
  max-height: 150px;
  margin: 20px;
}

.review {
  margin: 1% 6% 0% 6%;
  font-size: 1em;
  background-color: ghostwhite;
  border-radius: 5px;
  padding: 20px;
}

.commentsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.spinnerbox {
  height: 85vh; 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}