.commentBox {
    margin-bottom: 10px;
    background-color: ghostwhite;
    border-radius: 5px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.commentContent {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10px;
}

.commentProfilePic {
    min-height: 100px;
    min-width: 100px;
}

.username {
    font-weight: bold;
    margin-bottom: 0px;
    font-size: 1.4em;
}

.theComment {
    margin-bottom: 0px;
    font-size: 1.1em;
}

@media screen and (max-width: 500px) {
    .commentBox {
        margin-bottom: 10px;
        background-color: ghostwhite;
        border-radius: 5px;
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .commentContent {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 5px;
    }
    .username {
        font-weight: bold;
        margin-bottom: 0px;
        font-size: 0.7em;
    }
    .theComment {
        margin-bottom: 0px;
        font-size: 0.7em;
    }
    .commentProfilePic {
        height: 80px;
        width: 80px;
    }
}
