.CommentVote {
    margin: 0%;
    font-size: x-large;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 5px;
}

.upVoteReview {
    color: green;
    opacity: 0.4;
}

.upVoteReview:hover {
    opacity: 1;
  }

.downVoteReview {
    color: red;
    opacity: 0.4;
}

.downVoteReview:hover {
    opacity: 1;
  }
