.CommentVote {
    margin: 0%;
    font-size: x-large;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 5px;
}

.deleteComment {
    color: green;
    opacity: 0.4;
}

.deleteComment:hover {
    opacity: 1;
  }
