@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.commentBox {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    border-radius: 10px;
    /* border: 1px solid black; */
    margin: 10px 0px 0px 0px;
}

.profileButton {
    grid-column: 1;
  
}

.prolfileImage {
    width: 50%;
    height: auto;
}

.commentText {
    grid-column: 2;
    font-size: 0.8em;
    text-align: left;
}

.votes {
    grid-column: 3;
}