@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.formbox {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    text-align: center;
    text-align-last: center;
    width: 70%;
    padding: 0px;
    margin: 0px;
    max-width: 240px;
  }

.form {
    margin: 0px;
    padding: 0px;
}

.formboxLeft {
    outline:0px;
    width: 250px;
    border-radius: 5px;
    margin-bottom: 4px;
    margin-right: 0;
}

.formboxRight {
    outline:0px;
    width: 250px;
    border-radius: 5px;
    margin-top: 4px;
    margin-right: 0;
}

.filterButton {
    outline:0px;
    border: gray;
    background-color: #343a40;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
    height: 40px;
}

/* OPTIMISED FOR SMALLER DEVICES */
@media screen and (max-height: 850px) and (max-width: 451px) {
    .formbox {
        font-size: 0.8em;
    }

    .formboxLeft {
        width: 160px;
    }
    
    .formboxRight {
        width: 160px;
    }

    .filterButton {
        margin-left: 0px;
        height: 30px;
    }
}