@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.homePGrid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  min-height: 100%;
}

.websitename {
  font-family: "Lato", "sans-serif";
  font-weight: "bold";
  font-size: 2em;
  margin-top: 1em;
}

.bookemoji {
  margin-top: 1%;
  max-width: 100px;
  max-height: 100px;
}