@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
  height: 100%;
  margin: 0;
}
.allReviewsGrid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;
  margin-bottom: 60px;
}

.pagetitle {
  font-family: "Lato", "sans-serif";
  font-weight: "bold";
  font-size: 2em;
  margin-top: 1em;
}

.userDetails {
  font-family: "Lato", "sans-serif";
  font-size: 0.8em;
}

.profilepic {
  margin-top: 1%;
  max-width: 150px;
  max-height: 150px;
  margin: 20px;
}
