@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.allReviewsGrid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;
  margin-bottom: 60px;
}

.pagetitle {
  font-family: "Lato", "sans-serif";
  font-weight: "bold";
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 1%;
}

.topicEmoji {
  max-width: 150px;
  max-height: 150px;
  margin: 0%;
}

.topicDescription {
  font-family: "Lato", "sans-serif";
  font-size: 1em;
  margin: 1% 5% 0% 5%;
  text-align: center;
}

.spinnerbox {
  height: 85vh; 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}