@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.allReviewsGrid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;
  margin-bottom: 60px;
  font-family: "Lato", "sans-serif";
}

.pagetitle {
  font-weight: bold;
  font-size: 2em;
  margin-top: 1em;
}

.userDetails {
  font-size: 1.2em;
}

.profilepic {
  margin-top: 1%;
  max-width: 150px;
  max-height: 150px;
  margin: 20px;
}

.spinnerbox {
  height: 85vh; 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

  /* OPTIMISED FOR IPAD PRO */
  @media screen and (height: 1366px) and (width: 1024px) {
    .pagetitle {
      font-weight: bold;
      font-size: 4em!important;
      margin-top: 0;
    }
    
    .userDetails {
      font-size: 2em;
    }
  }
