@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body{
  height: 100%;
  margin : 0;
}
.topicMGrid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  min-height: 100%;
  margin-bottom: 60px;
}

.pagetitle {
  font-family: "Lato", "sans-serif";
  font-weight: "bold";
  font-size: 2em;
  margin-top: 1em;
}

.magnifyingemoji {
  margin-top: 1%;
  max-width: 100px;
  max-height: 100px;
  margin: 20px;
}

.spinnerbox {
  height: 85vh; 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}


